
{% extends 'base.html' %}

{% block title %}Custom Page Title{% endblock %}

{% block content %}

<!-- Main Content -->
<!-- <main role="main" > -->
    <!-- <main role="main" class="col-md-12 ml-sm-auto col-lg-12 "> -->
    <main role="main" class="col-md-12 col-lg-12 px-4">
    <h1 class="mt-5">Ubereats Daily JE</h1>

                <!-- Add this above your table -->
        <div class="dataTables_length" id="datatable_length">
        </div>
        <label for="min-date">Start Date:</label>
        <input type="date" id="min-date">
        
        <label for="max-date">End Date:</label>
        <input type="date" id="max-date">
        
        <table id="datatable" class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>Index</th>
                    <!-- <th>Hash ID</th> -->
                    <th>Date</th>
                    <th>Locations</th>
                    <th>Name Match</th>
                    <th>Account</th>
                    <th>Debit</th>
                    <th>Credit</th>
                    <th>Debit Balance</th>
                    <th>Credit Balance</th>
                    <th>Discrepancy</th>
                </tr>
            </thead>
            <tbody>
                {% for entry in daily_je %}
                    <tr>
                        <td></td><!-- Index column will be filled by DataTables -->
                        <!-- <td>{{ entry.hash_id }}</td> -->
                        <td>{{ entry.date }}</td>
                        <td>{{ entry.locations }}</td>
                        <td>{{ entry.name_match }}</td>
                        <td>{{ entry.account }}</td>
                        <td>{{ entry.debit|floatformat:2 }}</td>
                        <td>{{ entry.credit|floatformat:2 }}</td>
                        <td>{{ entry.debit_balance|floatformat:2 }}</td>
                        <td>{{ entry.credit_balance|floatformat:2 }}</td>
                        <td>{{ entry.discrepancy|floatformat:2 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <!-- Call the reusable function for DataTables initialization -->
        <script>
            // Parameters: tableId, dateColumnIndex
            initializeDataTable('datatable', 1);
        </script>
        
    </main>

{% endblock %}